@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body{
    background: #f8faf8;
    font-family: 'Montserrat', sans-serif;
    color: rgb(14, 13, 13);
    margin: 20px;
    padding-top: 70px;
    scroll-behavior: smooth;
    margin-left: 100px;
    margin-right: 100px;
}

nav {
    position: fixed;
    top:0;
    right:0;
    width: 100%;
    background-color: #94f8cc;
    text-align: center;
}

h2 { 
    color:#08571d
 }

.menu-item {
    text-decoration: none;
    color:#08410f;
    padding: 10px;
    display: inline-block;
    border-radius: 15px;
    font-weight: bold; 
}

.menu-item:hover {
    background-color:#94f8cc;
    transition: all 0.2s ease-in-out;
    background-color: #08410f;
    color: #94f8cc
}

header {
    background-color: #08571d;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    line-height: 2;
}

section {
    padding: 20px;
    border: 1px solid #81e299;
    margin-bottom: 20px;
    line-height: 1,7;
  }

  #acerca-de-mi {
    text-align:justify
  }

  #habilidades ul {
    list-style: none;
    padding: 0;
  }
  
  #habilidades ul li {
    display: inline-block;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
  }

  #experiencia ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #experiencia ul li {
    margin-bottom: 10px;
  }

  #proyectos ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #proyectos ul li a {
    text-decoration: none;
    color: #333;
  }
  
  #proyectos ul li a:hover {
    text-decoration: underline;
  }

#contacto{
    font-size: small;
}

#contacto li {
    list-style: none;
    line-height: 2;
}

  #sociales {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    font-size: 30px;
    
  }
  
  #sociales li {
    list-style: none;
    display: inline-block;
    padding: 5px;
    border-width: 30px;
    
  }
  
  .fa {
    color: #08410f;
    text-decoration: none;
    margin-left: 0px;
    padding: 10px;
    border-radius: 15px

  }

  .fa:hover {
    background-color:#94f8cc;
    transition: all 0.2s ease-in-out;
    background-color: #08410f;
    color: #94f8cc
  }

  footer {
    background-color:#94f8cc ;
    color: #08410f;
    text-align: center;
    padding: 10px;
  }

